:root {
  /* Colours */
  --color-bg: light-dark(#d1ec73, rgb(0, 0, 0)); /* page background */

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #009345;

  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #318986; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 20px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1.5rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#000000, #d1ec73);
  --color-headline-text-page: light-dark(#fffae2, #000000);

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: light-dark(#fffae2, #000000);

  /* Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 10px;

  /* Cards */
  --color-card-bg: #fff;
  --color-cta-card-bg: #ff4b00;

  /* News-cards */
  --color-news-bg: light-dark(#fffae2, #777153);
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: light-dark(#ffa680, #318986);
  --color-cta-newscard-bg-inverted: #6f90eb;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 36px;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #fff;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #def5db;

  /* FORMS */
  --color-bg-output: light-dark(#fffbd3, #777153);

  /* disclaimer */
  --color-bg-main-disclaimer: light-dark(#ea2127, #ea2127);
}

/* ----------------------------------------
   Extra CSS rules (must not be inside :root)
---------------------------------------- */

#logotype-wrapper svg:hover .st0 {
  fill: red;
}

#logotype-wrapper svg:hover .st1 {
  fill: #d1ec73;
}
